HELP.md
.gradle
node_modules
build/
package-lock.json
package.json
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.metadata

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## oracle connect info
/src/main/java/ubc/cpsc304/database/ConnectionConst.java
/src/test/resources/application.properties
### TEMP
application.yml
/frontend/trails/practice.html
.temp/